
@{
    ViewBag.Title = "AddComent";
}

<h2>AddComent</h2>
<form action="/AddComent" method="POST">
    <div class="input-padded">
        <label for="input-username">Opis:</label>
        <input id="input-username" name="opis" type="text" required />
    </div>

    <div class="input-padded">
        <label for="input-password">Korisnik:</label>
        <input id="input-password" name="korisnik" type="text" value="@ViewBag.Korisnik" readonly required />
    </div>

    <div class="input-padded">
        <label for="input-first-name">Voznja</label>
        <input id="input-first-name" name="voznja" type="text" value="@ViewBag.Id" readonly required />
    </div>

    



    <input type="submit" value="Dodaj" />
</form>

